<input name="CatName" id="CatName" type="text"  placeholder="Please enter" />
<span id="mes_cat_name"></span>
<input type="button" value="Add New Category"/>
<button>Submit</button>`
@*<table class="table table-active">
    <tr>
        <th>Nbr</th>
        <th>Name</th>
    </tr>
    <tbody id="data">
    </tbody>
</table>*@
<script>
    $(document).ready(function () {
        //$.ajax({
        //    url: "https://localhost:7206/Category/get"
        //    , dataType: "json"
        //    , type: "GET"
        //    , data: ""
        //    , crossDomain: true
        //    , success: function (data) {
        //        if (data) {
        //            let r = '';
        //            $.each(data, function (i, cat) {
        //                r += "<tr>";
        //                r += "<td>" + cat.id + "</td>";
        //                r += "<td>" + cat.name + "</td>";
        //                r += "</tr>";
        //            });
        //            $("#data").html(r);
        //        }
        //    }
        //});
        //$("button").click(function () {
        //    let keyword = $(this).val();
        //    if (keyword.length >= 1) {
        //        $.ajax({
        //            url: "https://localhost:7206/Category/CreatNew"
        //            , type: "POST"
        //            , dataType: "JSON"
        //            , data: {
        //                        "Name": keyword
        //                    }
        //            , crossDomain: true
        //            , beforeSend: function () {
        //                $("#data").html("<img src='https://localhost:7017/images/API_load.mp4' width='50px'/>")
        //            }
        //            , success: function (data) {
        //                if (data) {
        //                    let r = "";
        //                    $.each(data, function (i, cat) {
        //                        r += "<tr>";
        //                        r += "<td>" + cat.id + "</td>";
        //                        r += "<td>" + cat.name + "</td>";
        //                        r += "</tr>";
        //                    });
        //                    setTimeout($("#data").html(r), 30000);
        //                }
        //            }
        //        });
        //    }
        //});
        $("input[type='button']").click(function(){
            let CatName = $("input[name='CatName']").val()
                if(CatName.length==0){
                    $("#mes_cat_name")  

                    .text("Please enter Category Name")
                    .css("color","red")
                }else{
                    let NewCat = new Object();
                    NewCat.Name = CatName;
                    $.ajax({
                        url: "https://localhost:7206/Category/CreatNew"
                        ,type:"POST"
                        ,dataType:"JSON"
                        ,data:JSON.stringify(NewCat)
                        ,contentType:"application/json"
                        ,async:false
                        ,success:function(data){
                            console.log(data);
                            if(data.CategoryDupplicated.errors[0].errorMessage.length>0){
                                $("#mes_cat_name")
                                .text(data.CategoryDupplicated.errors[0].errorMessage)
                                .css("color","red");
                            }
                            else {
                                window.location.replace("https://localhost:7017/Category");
                            }
                        },error:function(data,status){
                            //let status=data.status;
                            let dataResponse = data.responseJSON;
                            $("#mes_cat_name")
                                .text(dataResponse.errors.Name[0])
                                .css("color", "red")
                        }
                    });
                }
        });
    });
</script>